/*MICS*/
.clearFix {zoom:1;}

/*LAYOUT*/
  #body {zoom:1;}

  #main_col_content {zoom:1;}
  .search_form .input{top:3px}

  .filter_form .input{width:105px;padding:2px 0 0 5px;font:12px arial;border-radius:3px;color:#595959;border:1px solid #b0b0b0;height:17px;margin:0 0 0 14px}

  .front_banner,.catalog p,.spec_h2,.wrap_button,.right_column h2,.front_catalog li,.itogo{behavior:url(http://gisy.cleandev.ru/application/layoutes/gisy/htc/PIE.htc);}

  .shadows { filter:progid:DXImageTransform.Microsoft.Alpha(opacity=50); }/
